*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font: 14px/1.5 Verdana, sans-serif;
}

body {
  padding: 0.5rem;
}

.site {
  max-width: 60rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site-footer,
.site-header {
  background: #000000;
  color: #ffffff;
  display: flex;
  position: relative;
  overflow: hidden;
  border-radius: 0.5em;
  margin-bottom: 1rem;
}

.site-header h1 {
  font-size: 3rem;
}

.site-header h1 a {
  padding: 0 1rem;
}

.site-header a {
  color: #ffffff;
  display: block;
  text-decoration: none;
}

.site-header nav {
  display: flex;
  margin-left: auto;
}

.site-header nav * {
  display: inherit;
}

.site-header nav ul {
}

.site-header nav li {
  list-style: none outside;
}

.site-header nav a {
  align-items: center;
  padding: 0 1em;
}

.site-header nav a:hover {
  background: red;
}

.site-content {
  /* flex-grow: 1; */
  display: flex;
  flex-wrap: wrap;
}

.site-content main {
  flex: 1 1 25rem;
  padding: 1rem;
  background: #999;
  /* border-radius: 0.5em; */
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
}

.site-content aside {
  flex: 1 1 10rem;
  padding: 1rem;
  background: #aaa;
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

.site-footer {
  padding: 1rem;
  margin-top: auto;
}
